#panel > div {
    display: block;
    padding: 40px 0;
    margin: auto;
}

#panel-left {
    width: 45%;
    height: 350px;
}

#panel-left img {
    width: 230px;
    height: 250px;
    float: right;
}

#panel-right {
    width: 85%;
}

#panel-right #apps {
    list-style: none;
    padding-left: 40px;
    margin: 0;
    width: 100%;
}

#apps li {
    height: 60px;
}

#apps li a {
    height: 60px;
    font-size: 26px;
    text-align: left;
}

#apps .prefix {
    display: inline-block;
    margin: 3px;
    height: 40px;
    width: 40px;
    border: 1px solid #02b2b5;
    border-radius: 40%;
    background-color: #02b2b5;
    float: left;
}

#apps .prefix img {
    margin: 1px 5px 9px 5px;
    width: 28px;
    height: 28px;
}

#apps .tip {
    display: inline-block;
    margin: 8px 30px;
    height: 30px;
    line-height: 30px;
    color: #777777;
}

@media screen and (min-width: 768px) {
    #panel > div {
        display: inline-block;
    }
    
    #panel-left {
        float: left
    }

    #panel-left img {
        width: 260px;
        height: 300px;
    }

    #panel-right {
        width: 50%;
    }
}
