.content {
    height: 510px;
    width: 100%;
    text-align: center;
}

.content-left img {
    margin: 0 auto;
}

.content-left {
    height: 230px;
    margin: 0 auto;
}

.content-left img {
    height: 230px;
    margin: 10px auto;
}

.content-right {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.content-right a {
    display: inline-block;
    padding: 10px 0;
    width: 60%;
    font-size: 26px;
    text-align: center;
}

.app {
    list-style: none;
    height: 240px;

    padding: 0;
    margin: 0;
    width: 100%;
}

.app li {
    height: 60px;
}

.app .app-btn {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 260px;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    color: #777777;
}

.app .app-btn .prefix {
    display: inline-block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin: 14px;
    border-radius: 50%;
    border: 1px solid #02b2b5;
    background-color: #02b2b5;
    float: left;
}

.app .app-btn .tip {
    margin: 15px 0;
    display: inline-block;
    height: 30px;
    width: 180px;
    float: left;
}

.app .app-btn .prefix img {
    margin: 4px;
    width: 22px;
    height: 22px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .console {
        width: 768px;
        text-align: center;
        margin: 0 auto;
    }

    .content {
        height: 360px;
    }

    .content-left {
        height: 360px;
        width: 340px;
        float: left;
    }

    .content-left img {
        height: 260px;
        margin: 30px auto;
    }

    .content-right {
        margin-top: 30px;
        width: 390px;
        float: right;
    }
}
