.plane {
    margin: auto;
    width: 100%;
}

.chart {
    margin: 20px auto;
    width: 95%;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow:0 0 7px 5px #E3E3E3;
}

#chart-coef {
    text-align: center;
    padding: 10px;
}

#chart-coef ul {
    padding: 0;
    margin-bottom: 0;
}

#chart-coef li {
    list-style: none;
    height: 60px;
    padding: 10px 0;
}

.digital {
    width: 22%;
    margin: 0 1%;
    padding: 6px 0;
    font-size: 15px;
    font-weight: bold;
}

.term {
    font-size: 18px;
    display: inline-block;
    color: #5bc0de;
    border: none;
    cursor: default;
}

.tleft {
    width: 36px;
}

@media screen and (min-width: 768px) {
    .plane {
        width: 65%;
    }

    .digital {
        width: 18%;
        margin: 0 3%;
    }

    .tleft {
        width: 36px;
        margin: 0;
    }
}
